<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.care.Care4U">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:name="xyz.care.Care4U.AppController"
        android:icon="@drawable/logo"
        android:label="Care4U"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="xyz.care.Care4U.LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="xyz.care.Care4U.MainActivity" android:screenOrientation="portrait"
            android:label="@string/title_activity_signup" />
        <activity
            android:name="xyz.care.Care4U.Main2Activity" android:screenOrientation="portrait"
            android:label="Care4U"
            android:theme="@style/AppTheme.NoActionBar"/>
        <service android:name="xyz.care.Care4U.GeofenceService"
            android:exported="true"
            android:enabled="true" />
    </application>

</manifest>